/* Global Styles */
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo:wght@300;400;500;600;700&family=Roboto:wght@400;500;700;900&display=swap");

body,
html {
  background-color: #f2efeb;
  font-family: "Roboto", sans-serif;
  color: #a60311;
  height: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Archivo", sans-serif;
  color: #a60311;
  font-size: 2em;
  width: 100%;
  margin: 60px 0px 10px 0px;
}

main {
  margin: 0px 60px;
}

header {
  background: #ffffff;
  width: 100%;
  padding: 0px 0px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
}

header a {
  text-decoration: none;
}

header ul {
  margin: 0px;
  padding: 0px;
}

header li {
  display: inline-flex;
  padding: 20px;
  margin: 0px;
}

header input {
  border: 1px solid black;
  border-radius: 5px;
  width: 200px;
  padding: 8px;
}

.logo {
  padding: 0px;
}

.logo img {
  max-width: 170px;
  margin: 10px 10px 0px 50px;
}

.main-nav {
  display: flex;
  flex-direction: row;
}

.left-nav,
.right-nav {
  display: flex;
  width: 50%;
  align-items: center;
}

.right-nav {
  justify-content: flex-end;
  margin-right: 30px;
}

.right-nav li,
.left-nav a {
  font-weight: bold;
  font-size: 1.2em;
}

.right-nav p {
  color: #000;
  font-size: 0.9em;
  font-weight: 400;
}

a {
  color: black;
  text-decoration: none;
}

footer {
  background: #ffffff;
  color: #000;
  font-size: 1em;
  margin-top: 50px;
  padding: 15px;
  text-align: center;
}

.contact p {
  display: inline-block;
  padding-right: 20px;
}

a:hover {
  color: #1d5982;
}

.active {
  color: #1d5982;
}

.featured-movies,
.recommended-movies,
.new-movies,
.popular-movies,
.norwegian-movies {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 80%;
  gap: 30px;
}

.featured-movies h2,
.recommended-movies h2,
.new-movies h2,
.popular-movies h2,
.norwegian-movies h2 {
  grid-column: -1/1;
  margin-top: 50px;
  margin-bottom: 0px;
}

img {
  border-radius: 5px;
  margin-top: 0px;
}

.featured-movies a,
.recommended-movies a,
.new-movies a,
.popular-movies a,
.norwegian-movies a {
  text-decoration: none;
}

/* Home Page */
.welcome-section {
  background-color: #f2efeb;
}

.welcome-container {
  background-image: url(../images/welcome-small.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  position: relative;
}

.welcome-info {
  background: rgba(0, 0, 0, 0.5);
  width: 40%;
  position: absolute;
  padding: 36px;
  bottom: 60px;
  right: 100px;
  color: white;
  border-radius: 5px;
}

.welcome-info a {
  background-color: #a60311;
  color: white;
  padding: 5px 20px;
  border-radius: 5px;
  text-decoration: none;
}

/* Coming Soon Page */

/* Account Page */
.account-links {
  padding: 0px;
  max-width: 1000px;
  margin: auto;
}
.account-links ul {
  padding: 0px;
  display: flex;
}

.account-links li {
  display: flex;
  flex-direction: row;
  padding: 10px 10px 10px 0px;
  margin: 20px 20px 20px 0px;
}

.account {
  display: flex;
  flex-direction: row;
  max-width: 1000px;
  margin: auto;
}

.account-info {
  margin-left: 20px;
}

.folders {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  max-width: 1000px;
  margin: 50px auto;
  gap: 20px;
}

.uploads {
  display: grid;
  grid-column: 1;
  gap: 10px;
}

.favorites {
  display: grid;
  grid-column: 2;
  gap: 10px;
}

.folders img {
  max-width: 150px;
  max-height: 150px;
}

/* Sign Up Page */
.sign-up_form {
  max-width: 1000px;
  margin: auto;
}

.sign-up_form h1 {
  margin-bottom: 50px;
}

.sign-up_form_info input {
  width: 350px;
  padding: 5px;
  border: 1px solid #b6b6b6;
  border-radius: 3px;
}

.sign-up_form p {
  margin-bottom: 0px;
  color: #000;
}

.radio-button {
  margin: 30px 0px;
  color: #000;
}

.radio-button label {
  margin-right: 30px;
}

.cta {
  border-radius: 5px;
  background-color: #f2a516;
  color: #000;
  padding: 10px 30px;
  border: 0px solid;
}

/* Media Queries */
@media screen and (max-width: 1000px) {
  .main-nav {
    display: grid;
    grid-template-rows: 2;
  }

  .left-nav {
    grid-row: 1;
  }

  .right-nav {
    grid-row: 2;
  }
}

/* @media screen and (max-width: 500px)  */
