/* Global Styles */
@font-face {
  font-family: "Archivo Black", sans-serif;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #f2efeb;
  margin: 0;
  padding: 0;
}

header {
  background: #ffffff;
  padding: 0px 0px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}

header a {
  text-decoration: none;
}

header ul {
  margin: 0px;
  padding: 0px;
}

header li {
  display: inline-block;
  padding: 20px;
  margin: 0px;
}

header .logo a {
  background-image: url("../images/SquareEyesLogo.png");
  background-repeat: no-repeat;
  display: inline-block;
  height: 120px;
  width: 230px;
}

header input {
  border: 1px solid black;
  border-radius: 7px;
}

.logo {
  padding: 0px;
  margin: 10px 10px 0px 60px;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.main-nav a {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 1.2em;
}

.right-nav {
  margin-left: auto;
}

.right-nav > * {
  display: inline-block;
  padding: 10px;
  margin-right: 20px;
}

footer {
  background: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  margin: 0;
  padding: 30px 0px 30px 0px;
  text-align: center;
}

.contact p {
  display: inline-block;
  text-align: center;
  padding: 20px 30px;
  font-family: "Roboto", sans-serif;
}

a:hover {
  color: #1d5982;
}

a:active {
  color: #1d5982;
}

a:link {
  color: #000000;
}

/* Home Page */
.welcome-section {
  display: block;
  margin-left: 60px;
  background-color: #f2efeb;
}

.welcome-section img {
  border-radius: 7px;
}

.welcome-section h1 {
  font-family: "Archivo", sans-serif;
  color: #a60311;
  padding: 0px;
  margin: 40px 0px 10px 0px;
  font-size: 2.5em;
}

.featured-movies a,
.recommended-movies a {
  text-decoration: none;
}

.featured-movies div,
.recommended-movies div {
  display: flex;
  justify-content: flex-start;
  margin: 20px;
}

.featured-movies h1,
.recommended-movies h1 {
  font-family: "Archivo", sans-serif;
  color: #a60311;
  font-size: 2em;
  margin: 60px 0px 0px 60px;
}

.featured-movies img,
.recommended-movies img {
  width: 250px;
  border-radius: 7px;
}

.featured-movies figcaption,
.recommended-movies figcaption {
  padding: 10px 0px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

figure {
  margin: 0px 20px 0px 40px;
}
