/* Global Styles */
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo:wght@300;400;500;600;700&family=Roboto:wght@400;500;700;900&display=swap");

body,
html {
  background-color: #f2efeb;
  font-family: "Roboto", sans-serif;
  color: #a60311;
  height: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Archivo", sans-serif;
  color: #a60311;
  font-size: 2em;
  width: 100%;
  margin: 60px 0px 10px 0px;
}

p {
  color: #000;
}

main {
  padding: 0px 60px;
  max-width: 1350px;
}

header {
  background: #ffffff;
  width: 100%;
  padding: 0px 0px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
}

header a {
  text-decoration: none;
}

header ul {
  margin: 0px;
  padding: 0px;
}

header li {
  display: flex;
  padding: 20px;
}

header input {
  border: 1px solid black;
  border-radius: 5px;
  width: fit-content;
  padding: 8px;
}

.logo {
  padding: 0px;
}

.logo img {
  max-width: 170px;
  margin: 10px 10px 0px 50px;
}

.main-nav {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.left-nav,
.right-nav {
  display: flex;
  align-items: center;
  width: 50%;
}

.right-nav {
  justify-content: flex-end;
}

.right-nav li,
.left-nav a {
  font-weight: bold;
  font-size: 1.2em;
}

.right-nav p {
  color: #000;
  font-size: 0.9em;
  font-weight: 400;
}

a {
  color: black;
  text-decoration: none;
}

footer {
  background: #ffffff;
  color: #000;
  font-size: 1em;
  margin-top: 50px;
  padding: 30px 0px;
  text-align: center;
  width: 100%;
}

.contact p {
  display: inline-block;
  padding-right: 20px;
}

a:hover {
  color: #1d5982;
}

.active {
  color: #1d5982;
}

img {
  border-radius: 5px;
  margin-top: 0px;
}

.movies {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 80%;
  gap: 30px;
  margin-bottom: 50px;
}

.moviecard {
  display: flex;
  flex-direction: column;
}

.moviecard img {
  width: 100%;
}

.movies h2 {
  grid-column: -1/1;
}

.movies a {
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
}

/* Home Page */
.welcome-section {
  background-color: #f2efeb;
  width: 100%;
}

.welcome-container {
  background-image: url(../images/welcome-small.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  position: relative;
}

.welcome-info {
  background: rgba(0, 0, 0, 0.5);
  width: 40%;
  position: absolute;
  padding: 20px;
  bottom: 20px;
  right: 20px;
  color: white;
  border-radius: 5px;
}

.welcome-info h2 {
  margin: 0px;
}

.welcome-info p {
  color: #fff;
}

.cta-red {
  background-color: #a60311;
  color: #fff;
  font-size: 0.8em;
  padding: 5px 20px;
  border-radius: 5px;
  text-decoration: none;
}

.cta-red:hover {
  background-color: transparent;
  color: #a60311;
  border: solid #a60311;
}

/* Movie-Title Page */
.title-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.about-info {
  width: 400px;
}

.play-movie {
  background-color: #c7c5c2;
  width: 450px;
  height: 250px;
}

/* Account Page */
.account-page {
  max-width: 1000px;
  margin: auto;
}

.account-links {
  padding: 0px;
}

.account-links ul {
  padding: 0px;
  display: flex;
}

.account-links li {
  display: flex;
  flex-direction: row;
  padding: 10px 10px 10px 0px;
  margin: 20px 20px 20px 0px;
}

.account {
  display: flex;
  flex-direction: row;
  max-width: 1000px;
  margin: auto;
}

.account-info {
  margin-left: 20px;
}

.folders {
  display: flex;
  margin: 50px auto;
  gap: 20px;
}

.folders img {
  width: 100%;
}

.uploads {
  display: grid;
  grid-column: 1;
  gap: 10px;
}

.favorites {
  display: grid;
  grid-column: 2;
  gap: 10px;
}

.folders img {
  max-width: 150px;
  max-height: 150px;
}

/* Sign Up Page */
.sign-up_form {
  max-width: 1000px;
  margin: auto;
}

.sign-up_form_info input {
  width: 350px;
  padding: 5px;
  border: 1px solid #b6b6b6;
  border-radius: 3px;
}

.sign-up_form p {
  margin-bottom: 0px;
}

.radio-button {
  margin: 30px 0px;
  color: #000;
}

.radio-button label {
  margin-right: 30px;
}

.cta {
  border-radius: 5px;
  background-color: #f2a516;
  color: #000;
  padding: 10px 30px;
  border: 0px solid;
}

.cta:hover {
  background-color: #f2efeb;
  color: #000;
  border: solid #f2a516;
}

/* Media Queries */
@media (max-width: 1024px) {
  .main-nav {
    align-items: center;
  }

  .left-nav {
    width: 70%;
  }

  .right-nav {
    width: 30%;
  }

  .or-button {
    display: none;
  }

  .mobile {
    display: none;
  }

  .movies {
    grid-template-columns: 1fr 1fr;
    width: 70%;
  }

@media (max-width: 800px) {
  .main-nav {
    flex-direction: column;
  }

  .left-nav,
  .right-nav {
    flex-direction: column;
    width: 100%;
  }

  .left-nav > *,
  .right-nav > * {
    padding: 7px;
  }

  .movies {
    width: 100%;
    justify-items: left;
  }

/* Movie Title Page */
  .movie-page, .title-info {
    display: flex;
    flex-direction: column;
  }

  .play-movie {
    width: 100%;
  }

  .movie-details {
    order: 2;
  }

  .about-info {
    width: 100%;
    order: 1;
  }

/* Account Page */
  .account-links ul {
    display: flex;
    flex-direction: column;
  }

  .account-links li {
    margin: 0px;
  }

  .account-page {
    display: flex;
    flex-direction: column;
  }

  .account {
    margin: 0px;
  }

  .account-info {
    order: 1;
  }

  .account-links {
    margin: 0px;
    order: 2;
  }

  .folders {
    margin: 0px;
    order: 3;
  }
}

@media screen and (max-width: 450px) {
  .movies {
    grid-template-columns: 1fr;
  }
}
